__pycache__/

# folder content ignored
logs_csv_logger/*
logs_csv_optitrack/*
logs_tak_optitrack/*
plots/*
convert_data_csv/logs_converted/*
convert_data_csv/logs_raw/*

# exception to the rule to keep folder in
!logs_csv_logger/.gitkeep
!logs_csv_optitrack/.gitkeep
!logs_tak_optitrack/.gitkeep
!plots/.gitkeep
!convert_data_csv/logs_converted/.gitkeep
!convert_data_csv/logs_raw/.gitkeep
